.expense-item {
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(34, 33, 33);
    box-shadow: 8px 8px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin: 1% auto;
    background-color: #3f3f3f;
}

.expense-item__description {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 2px;
}

.expense-item__description h2 {
    color: white;
}

.expense-item__price {
   background-color: rebeccapurple;
   color: white;
   width: 10%;
   height: 70%;
   border: 2px solid white;
   border-radius: 10px;
   margin-top: 10px;
   text-align: center;
   padding-top: 1rem;
}